
.container-content {
    padding: 80px 0;
}

.container {
    &.container-large {
        width: 100%;
        max-width: 1440px;
        @include breakpoint($large-min){
            width: 100%;
            max-width: 1440px;
        }
    }
}

.brick {
    padding: 100px 0;
    @include breakpoint($extra-small-max){
        padding: 70px 0;
    }
}
.brick-border-top {
    border-top: 1px solid #f1f1f1;
}
.brick-heading {
    .brick-title {
        font-size: 46px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 60px;
    }
    p {
        font-size: 20px;
        line-height: 1.65;
        &:nth-child(2) {
            margin-top: -40px;
        }
        &:last-child {
            margin-bottom: 60px;
        }
    }

    &.stroked {
        position: relative;
        padding-top: 50px;
        &:before {
            content: " ";
            display: block;
            width: 100px;
            height: 2px;
            background-color: $color-gray-base;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

}

.has-shade {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(102,39,158,0.15) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(102,39,158,0.15) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(102,39,158,0.15) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a666279e',GradientType=0 );
}
